.htaccess
.htaccessBK
.vsls.json
actividades.md
actualizaciones.sql
error-php.log
php_scripts_error.log

/archivos/
images/boletin/
images/contenidos/
images/fotogaleria/
images/fotos/
images/productos/
images/sucursales/

xpanel/vendor/

/api
/img
/toystore
/zonegames
