<!doctype html>
<html lang="es">

<head>
    <meta charset="ISO-8859-1">
    <title>Aviso de Comentario</title>
    <meta name="author" content="Walter E. Irahola" />
    <meta name="description" content="plantilla para el envio de notificaciones de usuarios" />
</head>

<body>
    <div style="width: 575px;background: #ffffff;padding: 5px;margin: 0 auto;border: 1px solid #CCCCCC;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15);-moz-box-shadow: 0 2px 3px rgba(0,0,0,.15);box-shadow: 0 2px 3px rgba(0,0,0,.15);">
        <table border="0">
            <tr style="background: #2fa8e1;">
                <td style="padding: 0px;"><img src="{SITIO_URL}xpanel/templates/head.jpg" alt="" title="" /></td>
            </tr>
            <tr style="background: #ffffff;">
                <td>
                    <h2 Style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 20px;line-height: 22px;padding-bottom: 5px;margin-top: 10px;margin-bottom: 20px;border-bottom: 1px solid #dddddd;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);">Aviso de Comentario</h2>
                    <p>Se ha registrado el siguiente comentario, desde el sitio <strong>{SITIO_NOMBRE}</strong>:</p>
                    <p>
                        <strong>Fecha:</strong> {FECHA}<br />
                        <strong>Nombre y Apellido:</strong> {NOMBRE}<br />
                        <strong>Correo electrónico:</strong> {EMAIL}<br />
                        <strong>Pa&iacute;s:</strong> {PAIS}<br />
                        <strong>Asunto:</strong> {ASUNTO}<br />
                        <strong>Mensaje:</strong><br />
                        <blockquote>{MENSAJE}</blockquote>
                    </p>
                    <p>El mismo corresponde a la sección <strong>"{TIPO_CABEZA}"</strong>, cuyo titulo es <strong>"{TITULO}"</strong></p>
                    <p>Se recuerda que para visualizar los comentarios, se debe ingresar a <strong>XPANEL</strong>: <em>Sistema de Administraci&oacute;n Web</em>. [ <a href="{SITIO_URL}xpanel/" target="_blank" style="text-decoration: none;color: #df0024;">clic aqu&iacute;</a>                        ]</p>
                </td>
            </tr>
            <tr style="background: #ffffff;">
                <td style="border-top: 1px dotted #dddddd;">
                    <p>&copy; 2013-2019 <strong><a href="{SITIO_URL}" target="_blank" style="text-decoration: none;color: #df0024;font-weight: bold;">{SITIO_NOMBRE}</a></strong>. Todos los derechos reservados.</p>
                </td>
            </tr>
        </table>
    </div>
    <p style="margin: 0 auto;padding: 10px;text-align: center;">
        <a href="http://www.xperticia.com" target="_blank" title="Este es un servicio desarrollado por XPERTICIA.com"><img src="http://www.xperticia.com/images/xperticia.png" width="150" height="40" border="0" alt="Este es un servicio desarrollado por XPERTICIA.com"></a>
    </p>
</body>

</html>