/**
 * POPUP CONTAINER STYLES
 */
#popupMask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1200;
  background-color: #000000;
  display:none;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#popupContainer {
	position: absolute;
	z-index: 1201;
	top: 0px;
	left: 0px;
	display:none;
	padding: 0px;
}
#popupInner {
	border: 1px solid #000000;
	background-color: #ffffff;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
	   -webkit-box-shadow: 0 3px 7px rgba(255, 255, 255, 0.6);
   	      -moz-box-shadow: 0 3px 7px rgba(255, 255, 255, 0.6);
	           box-shadow: 0 3px 7px rgba(255, 255, 255, 0.6);
}

#popupFrame {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1202;
}
#popupTitleBar {
	background-color: #333;
	color: #000000;
	height: 1.3em;
	padding: 5px;
	position: relative;
	z-index: 1203;

	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
#popupTitle {
	float:left;
	font-size: 1.1em;
	color: #ffffbe;
}
#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
	margin: -2px 0px;
}
#popupControls img {
	float: left;
	margin: auto 1px;
}